<!DOCTYPE html>

<html>

	<head>
		<title>2 Dots</title>
	</head>

 
<body>
	<h1>2 Dots</h1>
	<p> </p>
</body>

<canvas id="canvas" width="1000" height="500" style="border:1px solid #c3c3c3;">
	<script>

		var dot = new Image();


		function init(){

			sun.src = 'https://mdn.mozillademos.org/files/1456/Canvas_sun.png';
			moon.src = 'https://mdn.mozillademos.org/files/1443/Canvas_moon.png';
			earth.src = 'https://mdn.mozillademos.org/files/1429/Canvas_earth.png';

			window.requestAnimationFrame(draw);

		}

		function actionPerformed() {

			var elem = document.getElementById("canvvas");   
			var pos = 0;
			var id = setInterval(frame, 5);

			function frame() {
				if (pos == 350) {
		  			clearInterval(id);
				} else {
					pos++; 
					elem.style.top = pos + 'px'; 
					elem.style.left = pos + 'px'; 
				}
			}
		}

		function draw() {

			var ctx = document.getElementById('canvas').getContext('2d');

			ctx.globalCompositeOperation = 'destination-over';
			ctx.clearRect(0,0,1000,500); // clear canvas

			ctx.fillStyle = 'rgba(0,0,0,0.4)';
			ctx.strokeStyle = 'rgba(0,153,255,0.4)';
			ctx.save();
			ctx.translate(150,150);

			// Earth
			var time = new Date();
			ctx.rotate( ((2*Math.PI)/60)*time.getSeconds() + ((2*Math.PI)/60000)*time.getMilliseconds() );
			ctx.translate(105,0);
			ctx.fillRect(0,-12,50,24); // Shadow
			ctx.drawImage(earth,-12,-12);

			ctx.restore();

			ctx.beginPath();
			ctx.arc(150,150,105,0,Math.PI*2,false); // Earth orbit
			ctx.stroke();

			ctx.drawImage(sun,0,0,300,300);

			window.requestAnimationFrame(draw);

		}

		init();

	</script>	
</canvas>

</html>
